
.content-repos{
    display: flex;
    width:100%;
}
.content-repos table{
    margin: auto 50px auto 50px;
    width: 70%;
    text-align: center;
}
/* styling menu*/
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
    min-height: 100px;
    min-width: 400px;
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 5px 55px 50px -20px #b6b6b6;
    width: 70% 
}
/*.header nav{
    min-height: 400px;
    min-width: 400px;
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 5px 55px 50px -20px #b6b6b6;
    width: 70% 
}*/
.header li.search{
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
}
.menu{
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}
ul.menu{
    display: flex;
    list-style-type: none;
    background-color: black;
    padding: 0 20px;
    height: 40px;
    border: 1px solid rgba(238,238,238 ,1);
    border-radius: 5px;
    color: rgba(117,117,117 ,1);
    box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
}

ul.menu li{
        cursor: pointer;
        padding: 10px 10px;
}
ul.menu li a{
        color: white;
        text-decoration: none;
}

/* styling placeholder in lot of browsers*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: grey;
    font-size: 10px;
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-style: oblique;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: grey;
    font-size: 10px;
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-style: oblique;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: grey;
    font-size: 10px;
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-style: oblique;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: grey;
    font-size: 10px;
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-style: oblique;
  }
  /* styling table */
  table{
      width: 100%;
  }
  /* Counter */
  div.Counter{
      display: flex;
  }
  div.Buttons{
      
  }
  /*Table with content*/

table{
    border-collapse: collapse;
}
/**/
div.list-of-the-repos{
    margin: 50px auto 50px auto;
}
/*spinner*/
.spinner {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
  }

  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  